body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img1.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(18, 170, 212);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: yellow;
}

.task-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.task-list {
    flex: 1;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.task.completed {
    background-color: #d4edda;
}

.task button {
    background: none;
    border: none;
    font-size: 14px; /* Smaller font size */
    cursor: pointer;
    margin-left: 5px; /* Reduced margin */
    padding: 5px; /* Smaller padding */
}

.task button:hover {
    color: red;
}
